.page-index
    
    background: $bg-color
    border-top: 10px solid $primary-color

    .banner
        background: #FFF
        padding: 30px

        h2
            color: $primary-color
            margin: 0

    .banner-link
        background: $secondary-color
        color: #444
        padding: 15px 30px

    .main
        padding: 50px 30px

    .button
        width: 200px
        font-size: 20px
        line-height: 40px
        height: 40px
        font-weight: 300