<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css" type="text/css">
<title>SWall</title>
<body class="page-index">
<div class="banner">
    <h2>SWall Local Client</h2>
</div>
<div class="banner-link">
    Powered by <a href="https://swall.me" target="_blank">SWall.me</a>, copyright 2014 <a href="https://breeswish.org" target="_blank">Breezewish</a>.
</div>
<div class="main">
    <button class="button button-def" onclick="window.location='/control'">Control Center</button> <button class="button" onclick="window.location='/wall'">Wall</button>
</div>
</body>