.clear
    clear: both

.float-left
    float: left

.float-right
    float: right

::selection
    background: #72D0EB
    color: #FFF
    text-shadow: none

::-webkit-scrollbar
    width: 8px

::-webkit-scrollbar-thumb
    background: #888
    border-radius: 4px